
            <!-- form start -->
            <%= form_with(model: student, local: true) do |form| %>
              <% if student.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

                  <ul>
                  <% student.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>




              <div class="box-body">
                  <div class="col-md-6">
                <div class="form-group">
                
                    <%= form.label :"Nome:" %><br>
                    <%= form.text_field :name,class:'form-control' %>
                  </div>
                </div>

                   <div class="col-md-6">

                  <div class="form-group">
                    <%= form.label :"Idade:" %><br>
                    <%= form.number_field :age,class:'form-control' %>
                  </div>
                </div>


                 <div class="col-md-6">

                  <div class="form-group">
                    <%= form.label :"Sala de aula:" %><br>
                     <%= select("student", "classroom", ['Sala1', 'sala2','sala3','sala4','sala5','sala6','sala7','sala8'], { include_blank: true },class:'form-control') %>
                    </div>
                  </div>

                   <div class="col-md-6">
                  <div class="form-group">
                    <%= form.label :"Nome do Pai:" %><br>
                    <%= form.text_field :father,class:'form-control' %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= form.label :"Nome da Mãe:" %><br>
                    <%= form.text_field :mom ,class:'form-control'%>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= form.label :"Telefone para contato:" %><br>
                    <%= form.text_field :contact,class:'form-control' %>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <%= form.label :"Endereço:" %><br>
                    <%= form.text_field :address ,class:'form-control'%>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= form.label :"Como Vai:" %><br>
                    <%= select("student", "go", ['Pais', 'Sozinho(a)','Outro'], { include_blank: true },class:'form-control') %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= form.label :"Como Volta:" %><br>
                     <%= select("student", "return", ['Pais', 'Sozinho(a)','Outro'], { include_blank: true },class:'form-control') %>
                  </div>
                </div>
               <div class="col-md-6">
              <div class="box-footer">
                <%= form.submit 'Inscrever', class:'btn btn-primary' %>

              </div>
            </div>
              <% end %>
</div>
 