<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :classroom %>
    <%= form.text_field :classroom %>
  </div>

  <div class="field">
    <%= form.label :father %>
    <%= form.text_field :father %>
  </div>

  <div class="field">
    <%= form.label :mom %>
    <%= form.text_field :mom %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :go %>
    <%= form.text_field :go %>
  </div>

  <div class="field">
    <%= form.label :return %>
    <%= form.text_field :return %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
