<p id="notice"><% notice %></p>


    <section class="content-header">
      <div>
          <%= link_to 'Novo aluno', new_student_path,class:"btn btn-primary" %>   
      </div>
         
      <h1>
        Alunos Inscritos :
      </h1>
       
    
     
    
    </section>
   
    

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box">            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Nome :</th>
                    <th>Idade</th>
                    <th>Sala</th>
                
                    <th></th>
                    <th></th><th></th>
                </tr>
                </thead>
                <tbody>
                    <% @students.each do |student| %>
                      <tr>
                        <td><%= student.name %></td>
                        <td><%= student.age %></td>
                        <td><%= student.classroom %></td>
                       
                        <td><%= link_to 'Visualizar', student ,class:'btn btn-primary'%></td>
                        <td><%= link_to 'Editar', edit_student_path(student)  ,class:'btn btn-primary'%></td>
                        <td><%= link_to 'Deletar', student, method: :delete, data: { confirm: 'Deseja realmente deletar'} ,class:'btn btn-danger' %></td>
                      </tr>
                    <% end %>
                </tbody>
              </table>
            </div>
           
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>


