<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Sala de Aula:</strong>
  <%= @student.classroom %>
</p>

<p>
  <strong>Nome do Pai:</strong>
  <%= @student.father %>
</p>

<p>
  <strong>Nome da Mãe:</strong>
  <%= @student.mom %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @student.contact %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Como vai:</strong>
  <%= @student.go %>
</p>

<p>
  <strong>Como volta:</strong>
  <%= @student.return %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
