<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EBF 2019</title>
  <link rel="icon" type="image/png" href="./images/ebf2019.png">
    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="login">
    <div class="login_image">
      <img src="./images/ebf2019.png" alt="">
    </div>
    <div class="login_content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login_content_form">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control",placeholder: 'Email'%>
      </div>
  
      <div class="login_content_form">

        <%= f.password_field :password, autocomplete: "current-password",class:"form-control" ,placeholder: 'Senha'%>
      </div>
  
  
  
        <%= f.submit "Log in" ,class:"login_btn"%>
   
      <% end %>
      
      
      
    </div>
  </div>
  
</body>
</html>
