<!-- /#left-panel -->

<% if current_user.email != "admin@example.com" %>
<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">

            <div class="col-lg-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <i class="pe-7s-users"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">


                                    <div class="stat-heading">
                                        <h2>Sistema de Frequência da EBF</h2>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Widgets -->



    </div>
    <!-- .animated -->
</div>
<!-- /.content -->

<% else %>

<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">

            <div class="col-lg-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <i class="pe-7s-users"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-text"><span class="count"><%= @students.ids.size%></span></div>
                                    <div class="stat-heading">Total de Alunos</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="ti-check"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-heading ">
                                        <h1>Total de Presenças por Dia</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <%cont=0%>
            <%cont1=0%>
            <%cont2=0%>
            <% @students.each do |student| %>

                <% if  student.day ==  "[\"um\"]"%>
                    <%cont=cont+1%>
                <% elsif  student.day ==  "[\"um\", \"dois\"]"%>
                    <%cont=cont+1%>
                    <%cont1=cont1+1%>
                <% elsif  student.day ==  "[\"um\", \"três\"]"%>
                    <%cont=cont+1%>
                    <%cont2=cont2+1%>
                <% elsif  student.day == "[\"um\", \"dois\", \"três\"]"%>
                    <%cont=cont+1%>
                    <%cont1=cont1+1%>
                    <%cont2=cont2+1%>
                <% elsif  student.day == "[\"dois\"]"%>
                    <%cont1=cont1+1%>
                <% elsif  student.day == "[\"dois\", \"três\"]"%>
                    <%cont1=cont1+1%>
                    <%cont2=cont2+1%>
                <% elsif  student.day == "[\"três\"]"%>
                <%cont2=cont2+1%>
                <% else %>
                <% end %>

            <% end %>
            
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class=" ti-mobile"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-text"><span class="count"><%=cont%></span></div>
                                    <div class="stat-heading">1º Dia</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-6">
                                <i class="ti-facebook"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-text"><span class="count"><%=cont1%></span></div>
                                    <div class="stat-heading">2º Dia </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <i class="ti-youtube"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">

                                    <div class="stat-text"><span class="count"><%=cont2%></span></div>
                                    <div class="stat-heading">3º Dia</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <!-- /Widgets -->


        <!-- Orders -->
        <div class="orders">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">Orders </h4>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="avatar">Sala</th>
                                            <th>Numero de Alunos</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%x1 = x2 = x3 = x4 = x5 = x6 = x7 = x8 = x9= x10 =  0%>
                                        <% @students.each do |student| %>
                                            <% if student.classroom == "laranja1(2-4)"%>
                                                <%x1=x1+1%>
                                            <%elsif student.classroom == "laranja2(2-4)"%>
                                                <%x2=x2+1  %> 
                                            <%elsif student.classroom == "roxo1(5-6)"%>
                                                <%x3=x3+1%>
                                            <%elsif student.classroom == "roxo2(5-6)"  %>
                                                <%x4=x4+1%>
                                            <%elsif student.classroom == "verde1(7-8)"%>
                                                <%x5=x5+1%>
                                            <%elsif student.classroom == "verde2(7-8)"%>
                                                <%x6=x6+1%>
                                            <%elsif student.classroom =="amarelo1(9-10)"%>
                                                <%x7=x7+1%>
                                            <%elsif student.classroom =="amarelo2(9-10)"%>
                                                <%x8=x8+1%>
                                            <%elsif student.classroom =="azul(11-12)"%>
                                                <%x9=x9+1%>
                                            <%elsif student.classroom == "vermelho(13-14)"%>
                                                <%x10=x10+1%>
                                            <%else%>
                                            <%end%>
                                        <% end %>
                                                
                                         
                                        <tr>
                                            <td class="avatar">
                                                <div class="round-img">
                                                  <p>laranja 1</p>
                                                </div>
                                            </td>
                                            
                                            <td><span class="count"><%=x1%></span></td>
                                                                                    
                                        </tr>
                                        <tr>
                                            <td class="avatar">
                                                <div class="round-img">
                                                  <p>laranja 2</p>
                                                </div>
                                            </td>
                                            <td><span class="count"><%=x2%></span></td>
                                        </tr>
                                        <tr>
                                            <td class="avatar">
                                                <div class="round-img">
                                                  <p>roxo 1</p>
                                                </div>
                                            </td>
                                            <td><span class="count"><%=x3%></span></td>
                                        </tr>
                                        <tr>
                                            <td class="avatar">
                                                <div class="round-img">
                                                  <p>roxo 2</p>
                                                </div>
                                            </td>
                                            <td><span class="count"><%=x4%></span></td>
                                        </tr>
                                        <tr>
                                            <td class="avatar">
                                                <div class="round-img">
                                                  <p>verde 1</p>
                                                </div>
                                            </td>
                                            <td><span class="count"><%=x5%></span></td>
                                        </tr>
                                        <tr>
                                            <td class="avatar">
                                                <div class="round-img">
                                                  <p>verde 2</p>
                                                </div>
                                            </td>
                                            <td><span class="count"><%=x6%></span></td>
                                        </tr>
                                        <tr>
                                            <td class="avatar">
                                                <div class="round-img">
                                                  <p>amarelo 1</p>
                                                </div>
                                            </td>
                                            <td><span class="count"><%=x7%></span></td>
                                        </tr>
                                        <tr>
                                            <td class="avatar">
                                                <div class="round-img">
                                                  <p>amarelo 2</p>
                                                </div>
                                            </td>
                                            <td><span class="count"><%=x8%></span></td>
                                        </tr>
                                        <tr>
                                            <td class="avatar">
                                                <div class="round-img">
                                                  <p>Azul</p>
                                                </div>
                                            </td>
                                            <td><span class="count"><%=x9%></span></td>
                                        </tr>
                                        <tr>
                                            <td class="avatar">
                                                <div class="round-img">
                                                  <p>Vermelho</p>
                                                </div>
                                            </td>
                                            <td><span class="count"><%=x10%></span></td>
                                        </tr>
                                           

                                    </tbody>
                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
                    </div> <!-- /.card -->
                </div> <!-- /.col-lg-8 -->


            </div>
        </div>
        <!-- /.orders -->



    </div>
    <!-- .animated -->
</div>
<!-- /.content -->



<% end %>


<!-- /.site-footer -->